#!/bin/bash
set -euo pipefail

{{ template "utils.sh.tmpl" . }}

echo ""
info "🌐 [Installing Webapps] Starting..."
echo ""

info "♊ Installing Gemini Webapp..."
~/.local/bin/install-webapp.sh "Gemini" "https://gemini.google.com/app"

info "🖱️ Installing MCHOOSE HUB Webapp..."
.local/bin/install-webapp.sh "MCHOSE HUB" "https://www.mchose.com.cn/#/connectDevice"

echo ""
success "✅ [Installing Webapps] Done."
echo ""
