#!/bin/bash
set -euo pipefail

{{ template "utils.sh.tmpl" . }}

echo ""
info "🌐 [Installing Webapps] Starting..."
echo ""

info "♊ Installing Gemini Webapp..."
~/.local/bin/install-webapp.sh "Gemini" "https://google.gemini.com/app"

echo ""
success "✅ [Installing Webapps] Done."
echo ""
