#!/bin/bash
set -euo pipefail

{{ template "utils.sh.tmpl" . }}
{{ template "external_links.sh.tmpl" . }}

echo ""
info "🌐 [VPN & Tailscale] Starting..."
echo ""

info "🌐 Installing Tailscale..."
sudo pacman -S --noconfirm --needed tailscale

info "Enabling Tailscale daemon..."
sudo systemctl enable --now tailscaled
sleep 2

{{- if .tailscale_authkey }}
info "Authenticating Tailscale using provided authkey..."
if sudo tailscale status 2>/dev/null | grep -qE "^[0-9]+\.[0-9]"; then
  success "Tailscale already connected. Skipping."
else
  sudo tailscale up --ssh --authkey="{{ .tailscale_authkey }}"
  success "Tailscale connected successfully."
fi
{{- else }}
warn "No 'tailscale_authkey' found in chezmoi.toml. Skipping auto-login."
{{- end }}

info "🏔️ Installing NordVPN from AUR..."
paru -S --noconfirm --needed nordvpn-bin

info "Enabling NordVPN daemon..."
sudo systemctl enable --now nordvpnd
sudo usermod -aG nordvpn "$USER"
sleep 2
add_note "[NORDVPN]: NORDVPN has introduced a new system group, reboot your system to use it"

{{- if .nordvpn_token }}
info "Logging into NordVPN using provided token..."
if ! sg nordvpn -c "nordvpn account" &>/dev/null; then
  sg nordvpn -c "nordvpn login --token {{ .nordvpn_token }}"
else
  success "Already logged into NordVPN. Skipping login."
fi

# Proceed with settings configuration
if sg nordvpn -c "nordvpn status" | grep -E -q "Status: (Connected|Disconnected)"; then
  sg nordvpn -c "nordvpn set dns off"
  sg nordvpn -c "nordvpn set threatprotection off"
  sg nordvpn -c "nordvpn set post-quantum on"
  sg nordvpn -c "nordvpn set firewall on"
  success "NordVPN configured successfully."
fi
{{- else }}
warn "No 'nordvpn_token' found in chezmoi.toml. Skipping auto-login."
{{- end }}

echo ""
success "✅ [VPN & Tailscale] Done."
echo ""