#!/bin/bash
set -euo pipefail

{{ template "utils.sh.tmpl" . }}
{{ template "external_links.sh.tmpl" . }}

{{ if .media -}}
echo ""
info "🚀 [Installing Apps: Media] Starting..."
echo ""

info "✨ Installing Image upscaler..."
paru -S --needed --noconfirm realesrgan-ncnn-vulkan-bin

info "🎴 Installing YouTube downloader..."
sudo pacman -S --needed --noconfirm yt-dlp

info "🎬 Installing KDenlive and OBS Studio..."
sudo pacman -S --needed --noconfirm kdenlive obs-studio

info "🎵 Installing EasyEffects and audio effect plugins..."
sudo pacman -S --needed --noconfirm easyeffects lsp-plugins zam-plugins calf mda.lv2

# Do not use the local file itself as it is not available (this chezmoi script is run before applying dotfiles!)
info "🎧 Installing Spotify & Spicetify..."
curl -fsSL https://raw.githubusercontent.com/nMaax/dotfiles/refs/heads/main/dot_local/bin/executable_spicetify-setup.sh | sh

echo ""
success "✅ [Installing Apps: Media] Done."
echo ""
{{- end }}
