#!/bin/bash
set -euo pipefail

{{ template "utils.sh.tmpl" . }}
{{ template "external_links.sh.tmpl" . }}

# For the future: move to shelly when it becomes default in CachyOS

{{- if ne .chezmoi.osRelease.id "cachyos" }}
error "This script is intended to run on CachyOS."
error "Did nothing, will close now."
exit 1
{{- end }}
