#!/bin/bash
set -euo pipefail

{{ template "utils.sh.tmpl" . }}

{{- if ne .chezmoi.osRelease.id "cachyos" }}
error "This script is intended to run on CachyOS. But you are running it on $(
  . /etc/os-release
  echo "$NAME $VERSION"
)."
error "Please, use 🥮 dotfiles on CachyOS only."
exit 1
{{- end }}

echo ""
info "📦 [Interactive Checks] Starting..."
echo ""

if ! ask "⚠️  This is an interactive process — you will need to respond to prompts throughout. Are you ready to proceed?"; then
  error "Come back when you are ready. Closing."
  exit 1
fi

if ! ask "Have you run a full system update before starting this execution?"; then
  error "A full system update is required before proceeding to prevent package conflicts or dependency resolution failure. Run cachy-update or paru -Syu"
  exit 1
fi

if ! ask "Did you place the chezmoi.toml at ~/.config/chezmoi/?"; then
  error "Please place the chezmoi.toml in its proper location before proceeding. Closing, come back later."
  exit 1
fi

echo ""
success "✅ [Interactive Checks] Done."
echo ""
