#!/bin/bash
set -euo pipefail

{{ template "utils.sh.tmpl" . }}

echo ""
echo -e "${GREEN}=================================================================${NC}"
echo -e "${GREEN}🎉 DOTFILES INSTALLATION COMPLETE! PLEASE REBOOT.${NC}"
echo -e "${GREEN}=================================================================${NC}"
echo ""