#!/bin/bash
{{ include "utils.sh" }}

set -euo pipefail

# For the future: move to shelly when it becomes default in CachyOS

{{- if ne .chezmoi.osRelease.id "cachyos" }}
echo "This script is intended to run on CachyOS."
echo "Did nothing, will close now."
exit 1
{{- end }}

echo ""
info "📦 [Stage 1] Installing prerequisites..."
echo ""

clean_notes

read -rp "Did you tweak CachyOS as you like? [Y/n] " answer
if [[ "${answer,,}" != "y" && -n "$answer" ]]; then
  error "Go back and tune whatever you like using Cachy Hello. Closing, come back later."
  exit 1
fi

read -rp "Did you place the chezmoi.toml and the KeePass keyfile? [Y/n] " answer
if [[ "${answer,,}" != "y" && -n "$answer" ]]; then
  error "Please place the chezmoi.toml and KeePass keyfile in their proper locations before proceeding. Closing, come back later."
  exit 1
fi

info "🔄 Checking for cachy-update..."
if sudo pacman -Q cachy-update &>/dev/null; then
  cachy-update
else
  warning "cachy-update is not installed."
  warning "Did you really listen to me before??"
  warning "Please open 'CachyOS Hello' to enable cachy-update, and remind to tweak your system!"
fi

info "📦 Checking for missing base packages..."
BASE_PACKAGES=(binutils base-devel git vim appmenu-gtk-module libdbusmenu-glib hyperland xdg-desktop-portal-hyprland ddcutil)
for pkg in "${BASE_PACKAGES[@]}"; do
  if ! pacman -Qi "$pkg" &>/dev/null; then
    info "    Installing missing package: $pkg"
    sudo pacman -S --needed --noconfirm "$pkg"
  fi
done

info "🔧 Installing other utilities..."
sudo pacman -S --needed --noconfirm smartmontools ffmpeg imagemagick glow dust bat ripgrep fd btop nvtop trash-cli transmission-cli ghostscript pandoc poppler qpdf
paru -S --needed --noconfirm caligula-bin pdfcpu-bin ocrmypdf tesseract-data-eng tesseract-data-ita

info "☁️ Installing MEGA..."
paru -S --needed --noconfirm megacmd-bin

info "Enabling MEGA"
if ! mega-whoami >/dev/null 2>&1; then
  info "You are not logged into MEGA. Loggin in now..."
  mega-login
else
  success "Already logged in to MEGA."
fi

info "Checking MEGA is synced with cloud..."
if ! mega-sync | grep "Synced"; then
  info "Mega is not synced. Syncing now."
  mkdir -p ~/MEGA
  mega-sync ~/MEGA/ /
  while ! mega-sync | grep -q "Synced"; do
    info "Still syncing... please wait."
    sleep 3
  done
  success "MEGA successfully synced."
else
  success "Mega is already synced."
fi

info "Mega synced with specifications:"
mega-sync

info "Issues with MEGA:"
mega-sync-issues

info "🔑 Installing KeePassXC"
sudo pacman -S --needed --noconfirm keepassxc

KEEPASS_DB = "~/{{keepassxc.database}}"

if ! ls $KEEPASS_DB &>/dev/null; then
  error "Couldn't find the KeePassXC database, maybe MEGA didn't download it."
  error "Can't proceed, will close now. This script is idempotent so you can run it again and resume where left."
  exit 1
else
  success KeePass database found at $KEEPASS_DB
fi

read -e "Is your KeePass keyfile available at {{keepassxc.args[2]}}? [Y/n]"
if [[ "${answer,,}" != "y" && -n "$answer" ]]; then
  warning -e "Please ensure your KeePass keyfile is available at the correct location.\nPress [Enter] to continue once you are ready..."
fi

echo ""
success "✅ [Stage 1] Prerequisites installed."
echo ""

# ---------------------------------------

echo ""
success "🥮 [Stage 2] Installing apps and Noctalia..."
echo ""

GIT_NAME={{ .name | quote }}
GIT_EMAIL={{ .email | quote }}

info "🐙 Setting Git identity from config..."
git config --global user.name "$GIT_NAME"
git config --global user.email "$GIT_EMAIL"
info "Git identity set: $GIT_NAME <$GIT_EMAIL>"

info "🤓 Installing Nerd Fonts..."
sudo pacman -S --needed --noconfirm ttf-jetbrains-mono-nerd ttf-iosevka-nerd ttf-cascadia-code-nerd
info "🍎 Installing Apple Fonts..."
paru -S --needed --noconfirm apple-fonts

# Install Apple Emoji
EMOJI_URL="https://github.com/samuelngs/apple-emoji-ttf/releases/download/macos-26-20260219-2aa12422/ttf-apple-emoji.pkg.tar.zst"
EMOJI_FILE="/tmp/ttf-apple-emoji.pkg.tar.zst"
EXPECTED_SHA="6ca3fcda54437675e8ea55cdc1ad06d4c33b485b04eadd0e74763f040bf9c021" # Last Update: 19 Feb 2026

if ! pacman -Qs ttf-apple-emoji >/dev/null; then
  info "📥 Downloading verified Apple Emoji package..."
  curl -L "$EMOJI_URL" -o "$EMOJI_FILE"

  # Verify hash before installing, since this is not taken from pacman repo or AUR
  if echo "$EXPECTED_SHA  $EMOJI_FILE" | sha256sum -c -; then
    sudo pacman -U --noconfirm "$EMOJI_FILE"
    success "Apple Emoji installed successfully."
  else
    error "SHA256 checksum mismatch for Apple Emoji! Aborting font installation."
  fi
  rm -f "$EMOJI_FILE"
else
  success "Apple Emoji is already installed."
fi

info "🏮 Installing browsers..."
sudo pacman -S --needed --noconfirm chromium
paru -S --needed --noconfirm zen-browser-bin

info "📰 Installing Telegram"
sudo pacman -S --needed --noconfirm telegram-desktop

info "🪐 Installing Starship..."
sudo pacman -S --needed --noconfirm starship

info "🐍 Installing apps for coding.."
sudo pacman -S --needed --noconfirm uv lazygit neovim nodejs jdk-openjdk

info "📤 Installing LocalSend"
sudo paru -S --needed --noconfirm localsend

info "🎧 Installing Spotify (spicetify) from AUR..."
paru -S --needed --noconfirm spotify spicetify-cli

info "Setting up Spicetify..."
sudo chmod a+wr /opt/spotify
sudo chmod a+wr /opt/spotify/Apps -R
spicetify backup apply || spicetify apply

SPICETIFY_CONFIG_DIR="$HOME/.config/spicetify"
SPICETIFY_THEMES_DIR="$SPICETIFY_CONFIG_DIR/Themes"
COMFY_DIR="$SPICETIFY_THEMES_DIR/Comfy"
MARKETPLACE_DIR="$SPICETIFY_CONFIG_DIR/CustomApps/marketplace"

if [ ! -d "$COMFY_DIR" ]; then
  info "Installing Comfy theme for Spicetify..."
  cd "$SPICETIFY_THEMES_DIR"
  git clone https://github.com/Comfy-Themes/Spicetify.git ComfyRepo
  mv ./ComfyRepo/Comfy/ ./
  rm -rf ./ComfyRepo/
  spicetify config current_theme Comfy color_scheme Comfy
  spicetify config inject_css 1 replace_colors 1 overwrite_assets 1 inject_theme_js 1
  spicetify apply
  success "Comfy theme installed and applied."
else
  info "Comfy theme already present, skipping."
fi

info "Installing Spicetify Marketplace...  (⚠️ not really the Arch way, but it doesnt touch anything outside home/)"
if [ ! -d "$MARKETPLACE_DIR" ] || [ -z "$(ls -A "$MARKETPLACE_DIR")" ]; then
  curl -fsSL https://raw.githubusercontent.com/spicetify/marketplace/main/resources/install.sh | sh
else
  success "Spicetify Marketplace already installed, skipping."
fi

info "👾 Installing Discord (Equicord + OpenAsar) from AUR..."
paru -S --needed --noconfirm discord equicord-installer-bin

sudo Equilotl -install -location /opt/discord
sudo Equilotl -install-openasar -location /opt/discord

paru -Rns --noconfirm equicord-installer-bin || true

info "🎵 Installing EasyEffects..."
sudo pacman -S --needed --noconfirm easyeffects lsp-plugins

info "🌙 Installing Noctalia dependencies..."
paru -S --needed --noconfirm cliphist wlsunset xdg-desktop-portal evolution-data-server hyprshot quickshell-overview-git

echo "🖥️ Installing KDE suite, Qt, GTK and utility apps..."
sudo pacman -S --needed --noconfirm \
  qt6ct-kde qt5ct adw-gtk-theme nwg-look \
  qt6-multimedia archlinux-xdg-menu ark dolphin-plugins filelight \
  okular haruna kwrite gwenview

echo "Syncing GTK with Noctalia..."
gsettings set org.gnome.desktop.interface gtk-theme 'adw-gtk3'

echo "🐬 Fixing Dolphin 'Open With' amnesia..."
sudo ln -sf /etc/xdg/menus/arch-applications.menu /etc/xdg/menus/applications.menu
rm -rf ~/.cache/ksycoca6*
kbuildsycoca6 --noincremental

info "🦉 Installing Noctalia..."
paru -S --needed --noconfirm noctalia-shell

add_note "🗝️ KWALLET:  Make a new wallet using kwalletmanager with the same password as the user to enable automatic keyring login. See https://wiki.archlinux.org/title/KDE_Wallet for more informations."
add_note "🦉 NOCTALIA: Check noctalia documentation for further information: "
add_note "🦉 NOCTALIA: ddcutil was installed by default, which may introduce system instability with certain monitors; remove it eventually with sudo pacman -Rns ddcutil"
add_note "🦉 NOCTALIA:\nEnable theming in your favorite apps for a consistent look.\nSee https://docs.noctalia.dev/theming/basic-app-theming/ for detailed guides.\n e.g.:\n\t Zen Browser with the looks ==> Zen-Zero (https://sameerasw.com/zen)"

echo ""
success "✅ [Stage 2] Apps and Noctalia installed."
echo ""
