{{- $entry := (keepassxc "Università/Hyperion - VANDAL") -}}
Host github.com
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519

Host hyperion
  HostName {{ $entry.UserName | splitList "@" | last }}
  User {{ $entry.UserName | splitList "@" | first }}
  ServerAliveInterval 60
  ServerAliveCountMax 5
  ForwardAgent yes

Host cubone
  HostName cubone
  User {{ .chezmoi.username }}
  IdentityFile ~/.ssh/id_ed25519
  AddKeysToAgent yes
  ServerAliveInterval 60
  ServerAliveCountMax 5

Host paras
  HostName paras
  User {{ .chezmoi.username }}
  IdentityFile ~/.ssh/id_ed25519
  AddKeysToAgent yes
  ServerAliveInterval 60
  ServerAliveCountMax 5

